.text-muted {
    font-size: 0.8em;
}

.need {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    margin-left: 10px;
    color: #ff4100;
    font-size: 0.7em;
    font-weight: 400;
    opacity: 0.5;
}
